
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

body {
    background: #fffdfd;
}

.container{
    position: absolute;
    width: 100%;
    height: 753px;
    margin-top: 0px;
    background-color:  black;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.item{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    color: #fff;
    background-color: rgb(253, 253, 253);
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo img{
    position: relative;
    top: 0%;
    left: 10%;
    height: auto;
    width: 80%;
    cursor: pointer;
}

.text-item img{
    position: relative;
    top: 0%;
    left: 15%;
    height: auto;
    width: 60%;
}


.social-icon a{
    position: relative;
    top: 0%;
    left: 30%;
    color: #080808;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.social-icon a:hover i{
    transform: scale(1.2);
}

.container .login-section{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: #fff;
}

.login-section .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-section .form-box.register{
    transform: translateX(600px);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}

.login-section.active .form-box.register{
    transform: translateX(0px);
    transition-delay: 0.7s ;
}

.login-section .form-box.login{
    transform: translateX(0px);
    transition-delay: 0.7s;
}

.login-section.active .form-box.login{
    transform: translateX(600px);
    transition: transform .6s ease;
    transition-delay: 0.7s ;
}

.login-section .form-box h2{
    text-align: center;
    font-size: 25px;
}

.form-box .input-box{
    width: 340px;
    height: 50px;
    border-bottom: 2px solid#fff;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;
    color: #fff;
}

.input-box label{
    position: absolute;
    top: 70%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: 0.5s ease;
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.remember-password{
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-password label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember-password a{
    color: #fff;
    text-decoration: underline;
}

.btn {
    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #5785db;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.btn1 img{
    height: 15px;
    width: 15px;
    margin-right: 10px;
}

.btn1 {
    position: relative;
    top: 0%;
    left: 15%;
    width: 60%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #ffffff;
    font-size: 16px;
    color: #000000;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.4);
    
}

.create-account{
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}

.create-account p a{
    color: rgb(65, 65, 250);
    font-weight: 600px;
    text-decoration: none;
}

.create-account p a:hover{
    text-decoration: underline;
}


/* Homepage*/
.header .navbar-logo .logo{
    height: auto;
    width: 40%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 2%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar{
    position: relative;
    top: 0%;
    right: 300px;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 60px;
    text-decoration: none;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s ease;
}

.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}

.header .Profil{
    font-size: 30px;
}

.background{
    background-color: #fffdfd;
}

.container1{
    position: relative;
    width: 100%;
    height: 635px;
    margin-top: 0px;
}

.item1{
    position: absolute;
    top: 0px;
    left: 110px;
    width: 50%;
    height: 100%;
    color: #000000;
    background: transparent;
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.foto .gambar img{ 
    position: relative;
    top: 100px;
    left: 680px;
    height: auto;
    width: 40%;
}

.container2{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0px;
    background-color: #fffdfd;
    padding: 90px;
}


.city-list{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.city-list div{
    height: auto;
    width: 25%;
    background-color: #fffdfd;
    margin-right: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.city-list div img{
    width: 100%;
    height: 180px;
    border: 2px solid #000000;
    border-radius: 30px;
}

.city-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

#services{
    color: #000000;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 4rem;
    margin-left: 15px;
}

.sub-title {
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.sub-title-1 {
    position: relative;
    text-align: left;
    font-size: 20px;
    padding-bottom: 0px;
}

.sub-title3 {
    position: relative;
    top: -60px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.services-list{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.services-list div{
    background-color: #fffdfd;
    width: 280px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1px;
    border: 2px solid #000000;
    padding-top: 40px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    transition: background 0.5s, transform 0.5s;
}

.services1-list{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.services1-list div{
    background-color: #fffdfd;
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1px;
    border: 2px solid #000000;
    padding-top: 40px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    transition: background 0.5s, transform 0.5s;
}

#services2{
    color: #000000;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.services2-list{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.services2-list div{
    background-color: #fffdfd;
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1px;
    border: 2px solid #000000;
    padding-top: 40px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div img{
    width: 60%;
    height: 90px;
}

.services1-list div img{
    position: relative;
    top: -5px;
    left: 5px;
    height: 120px;
    width: 50%;
}

.services2-list div img{
    width: 50%;
    height: 90px;
}

.services-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services1-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services2-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div:hover{
    transform: translateY(-10px);
}

.btn2 {
    position: relative;
    border-bottom: 10px;
    width: 40%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: #5785db;
    font-size: 16px;
    color: #fffdfd;
    padding-bottom: 0px;
}

.container2 .text{
    text-align: center;
    justify-content: center;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 10px;
}

.About2{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.About2 div{
    background-color: #fffdfd;
    width: 190px;
    height: 60px;
    font-size: 1px;
    border: 2px solid #000000;
    padding-top: 9px;
    margin-left: 40px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

}

.About2 div img{
    position: relative;
    top: -5px;
    left: 5px;
    width: 30%;
    border: 2px solid #000000;
    border-radius: 60px;
    height: 50px;
}

.About2 div h2{
    font-size: 12px;
    position: relative;
    text-align: center;
    border: 2px 1px solid #000000;
    top: -50px;
    left: 25px;
}

.About2 div h1{
    font-size: 12px;
    position: relative;
    text-align: center;
    justify-content: center;
    top: -50px;
    left: 25px;
}

.footer {
    color: rgb(255, 255, 255);
    background-color: #000;
}

.footer-content {
    display: flex;
    margin-left: 280px;
}

.footer-content .footer-text {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    justify-content: center;
}

.footer-test {
    margin-top: 20px;
}

.footer-col {
    margin-top: 50px;
}
.footer-col i{
    margin-left: 10px;
}
.footer-follow {
    text-align: center;
    margin-bottom: 10px;
}

.btn3 {
    position: relative;
    top: -120px;
    left: 1080px;
    width: 140px;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 20px;
    padding-bottom: 5px;
    cursor: pointer;
    
}

.btn3 i{
    font-size: 28px;
    position: relative;
    top: 5px;
}
.sub-title-1 i{
    position: relative;
    font-size: 28px;
    top: 5px;
}

/*/notifikasi/*/
.services4{
    position: relative;
    margin-top: 110px;
    height: auto;
    margin-left: 150px;
    margin-bottom: 40px;
    background-color: #fffdfd;
}

.border {
    position: relative;
    top: 0;
    width: 90%;
    border: 2px solid #000000;
    border-radius: 20px;
    padding-bottom: 20px;
}

.border .sub-title4{
    position: relative;
    top: -40px;
    text-align: center;
}

.services4-list {
    display: flex;
    flex-direction: column;
    background-color: none;
    align-items: center;
    margin-top: -30px;
  }
  
  .services4-list div {
    background-color: #fffdfd;
    width: 500px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 11px;
}

.border1 {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fffdfd;
    border:1px solid #ffffff;
}

.border1 img{
    position: relative;
    top: 200px;
    left: 85px;
    width: 20%;
    height: 200px;
    border: 2px solid #000000;
}

.border7 {
    position: relative;
    top: 0;
    width: 100%;
    height: 78vh;
    background-color: #fffdfd;
    border:1px solid #ffffff;
}

.border7 img{
    position: relative;
    top: 200px;
    left: 85px;
    width: 20%;
    height: 200px;
    border: 2px solid #000000;
}

.services5-list{
    position: relative;
    top: -120px;
    width: 835px;
    left: 420px;
}

.services5-list h1{
    text-align: center;
}

.services5-list p{
    position: relative;
    margin-top: 50px;
    text-align: justify;

}

.btn4{
    position: relative;
    top: 300px;
    margin-left: 790px;
    margin-bottom: 50px;
    width: 100px;
    height: 30px;
    background-color: #fffdfd;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;
}

.btn5{
    position: relative;
    top: 280px;
    margin-left: 790px;
    margin-bottom: 50px;
    width: 100px;
    height: 30px;
    background-color: #fffdfd;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;
}

.btn7{
    position: relative;
    top: 400px;
    margin-left: 790px;
    margin-bottom: 50px;
    width: 100px;
    height: 30px;
    background-color: #fffdfd;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;
}

.services6-list{
    position: relative;
    top: -150px;
    width: 835px;
    left: 500px;
}

.sub-title5 p{
    font-size: 25px;
}

.services6-list div button{
    border-radius: 20px;
    border: none;
    color: #fffdfd;
    box-shadow: 1px 1px 1px  #000000;
    width: 90px;
    height: 30px;
    background-color: #5785db;
    margin-bottom: 10px;
}

.border2{
    position: relative;
    top: 0;
    width: 100%;
    height: 70vh;
    background-color: #fffdfd;
    border:1px solid #ffffff;
}

.border2 img{
    position: relative;
    top: 160px;
    left: 85px;
    width: 26%;
    height: 220px;
    border: 2px solid #000000;
}

.border3{
    position: relative;
    top: 0;
    width: 100%;
    height: 85vh;
    background-color: #fffdfd;
    border:1px solid #ffffff;
}

.border4{
    position: relative;
    top: 0;
    width: 100%;
    height: 70vh;
    background-color: #fffdfd;
    border:1px solid #ffffff;
}
.border4 img{
    position: relative;
    top: 100px;
    left: 120px;
    width: 23%;
    height: 210px;
    border: 2px solid #000000;
}
.border3 img{
    position: relative;
    top: 100px;
    left: 120px;
    width: 23%;
    height: 210px;
    border: 2px solid #000000;
}

.sub-title5 .bb{
    margin-left: 40px;
    width: 180px;
    border: 1px solid #000000;
    background-color: #fffdfd;
    color: #000000;
}


.ketentuan{
    position: relative;
    top: 25px;
    left: -350px;
    font-size: 14px;
}

/* Position the dropdown container relative to the trigger element */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Style the dropdown toggle button */
.dropdown-toggle {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    position: relative; /* Establish a positioning context for the icon */
}

/* Position the dropdown content to the left and right under the icon */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px; /* Set the width to match your icon width */
    box-shadow: -8px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%; /* Position the content right under the icon */
    right: 0; /* Align with the right edge of the icon */
}

/* Style the links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

/* Add margin to the icon for proper spacing */
.dropdown-content a i {
    margin-right: 10px;
}

/* Display the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.profil3 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.borderp{
    position: relative;
    top: 135px;
    right: 4px;
    margin-left: 40px;
    width: 20rem;
    height: 28rem;
    border: 1px solid #000000;
    border-radius: 20px;
}

.bordero{
    position: relative;
    top: 135px;
    right: 4px;
    margin-left: 100px;
    width: 20rem;
    height: 28rem;
    border: 1px solid #000000;
    border-radius: 20px;
}

.profil2 img{
    border-radius: 480px;
    width: 50%;
    height: 155px;
    border: 1px solid #000000;
}

.profil2{
    display: flex;
    flex-direction: column;
    background-color: none;
    align-items: center;
    text-align: center;
}

.tmb {
    margin: 5px;
    width: 120px;
    border: none;
    color: #fffdfd;
    border-radius: 20px;
    background-color: #5785db;
}

.tmb1 {
    margin: 5px;
    width: 210px;
    border: none;
    border-radius: 20px;
    color: #fffdfd;
    background-color: #5785db;
}

.tmb2 {
    margin: 5px;
    width: 120px;
    border-radius: 20px;
    color: #fffdfd;
    border: none;
    background-color: #5785db;
}

.bordera{
    position: relative;
    top: -310px;
    left: 370px;
    margin-left: 40px;
    width: 48rem;
    height: 444px;
    border: 1px solid #000000;
    border-radius: 20px;
}

.borderb{
    position: relative;
    top: -310px;
    left: 370px;
    margin-left: 120px;
    width: 48rem;
    height: 444px;
    border: 1px solid #000000;
    border-radius: 20px;
}

.profil1{
    margin-bottom: 25px;
    text-align: center;
}

.profil1 h1{
    margin-top: 20px;
}
.profil1 input{
    position: relative;
    width: 540px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 15px;
}

.profil1 a{
    position: relative;
    left: 17rem;
    color: #000000;
}

.kotak input{
    position: relative;
    padding-left: 20px;
}

.tmb5 {
    position: relative;
    top: 420px;
    margin-left: 700px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    background-color: #fffdfd;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;

}

.borderc{
    position: relative;
    text-align: center;
    width: 79rem;
    height: auto;
    margin-top: 25px;
}

.borderc h1{
    position: relative;
    top: 20px;
    text-align: center;
    margin-bottom: 15px;
}

.tmb6 {
    position: relative;
    top: 620px;
    left: 1150px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    color: #fffdfd;
    background-color: #000000;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;

}

.tmb12 {
    position: relative;
    top: 500px;
    left: 1150px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    color: #fffdfd;
    background-color: #000000;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;

}

.tmb11 {
    position: relative;
    top: 500px;
    left: 1150px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    color: #fffdfd;
    background-color: #000000;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;

}

.tmb13 {
    position: relative;
    top: 713px;
    left: 1150px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    color: #fffdfd;
    background-color: #000000;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;

}

.tmb15 {
    float: left;
    position: relative;
    top: 450px;
    left: 1150px;
    width: 100px;
    height: 30px;
    color: #fffdfd;
    background-color: #000000;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;

}
.profil70 .profil7 input{
    height: 12rem;
    padding-left: 1rem;
}
.tmb10 {
    position: relative;
    top: 550px;
    left: 1150px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    color: #fffdfd;
    background-color: #000000;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;

}
.tmb20 {
    position: relative;
    top: 650px;
    left: 1150px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    color: #fffdfd;
    background-color: #000000;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;

}

.profil6{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content:first baseline;
}

.profil5 div{
    position: relative;
    top: 30px;
    left: 48px;
    margin-right: 182px;
}

.profil5 div p{
    width: 340px;
    padding-top: 10px;
    margin-top: -30px;
    font-size: 20px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.profil5 div button{
    position: relative;
    top: -60px;
    left: 260px;
    width: 90px;
    height: 52px;
    border: none;
    color: #fffdfd;
    border-radius: 10px;
    background-color: #5785db;
}

.borderd{
    margin-top: 80px;
    margin-left: 240px;
    border: 1px solid #000000;
    border-radius: 20px;
    width: 55rem;
    height: 25rem;
}

.borderd div img{
    position: relative;
    top: 100px;
    left: 50px;
    width: 35%;
    height: 14rem;
}

.class{
    position: relative;
    top: -110px;
    left: 25rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: none;
    align-items: center;
    text-align: center;
}

.class p{
    border-radius: none;
}

.profil7 img{
    position: relative;
    top: 70px;
    right: 420px;
    width: 30%;
    height: 15rem;
    border:1px solid #000000;
}
.profil7 div input{
    position: relative;
    top: -210px;
    left: 260px;
    width: 65%;
    border-radius: 10px;
    border:1px solid #000000;
    height: 200px;
}

.profil7 div h1{
    position: relative;
    top: -220px;
    margin-left: 370px;
}

.profil70 img{
    position: relative;
    top: 68px;
    right: 420px;
    width: 30%;
    height: 12rem; border:1px solid #000000;
}
.profil70 div input{
    position: relative;
    top: -210px;
    left: 260px;
    width: 65%;
    border-radius: 10px;
    border:1px solid #000000;
}

.profil70 div h1{
    position: relative;
    top: -220px;
    margin-left: 370px;
    margin-bottom: 55px;
}

.tmb7{
    position: relative;
    top: -70px;
    left: -560px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    color: #fffdfd;
    background-color: #5785db;
    border: none;
}

.tmb8{
    position: relative;
    top: -210px;
    right: 70px;
    width: 85px;
    height: 30px;
    color: #fffdfd;
    border: none;
    background-color: #5785db;
    border-radius: 20px;
}

.tmb88{
    position: relative;
    top: 51px;
    right: 3px;
    width: 85px;
    height: 30px;
    color: #fffdfd;
    border: none;
    background-color: #5785db;
    border-radius: 20px;
}

.kotak1{
    position: relative;
    top: 50px;
    right: 250px;
}
.ide {
    width: 25%;
    border:1px solid #000000;
    height: 80px;
}
.profil8 img{
    position: relative;
    top: 107px;
    right: 420px;
    width: 30%;
    height: 13rem;
    border:1px solid #000000;
}
.profil8 div input{
    position: relative;
    top: -210px;
    left: 220px;
    width: 65%;
    border-radius: 10px;
    border:1px solid #000000;
    height: 200px;
}
.profil8 div h1{
    position: relative;
    top: -220px;
    margin-left: 370px;
}
.tmb9{
    position: relative;
    top: -205px;
    right: 300px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    color: #fffdfd;
    background-color: #5785db;
    border: none;
}

.tma1{
    position: relative;
    top: -210px;
    left: 260px;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    color: #fffdfd;
    background-color: #5785db;
    border: none;
}
.tma2{
    position: relative;
    top: 31px;
    right: 630px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    color: #fffdfd;
    background-color: #5785db;
    border: none;
}
.profil8 div p{
    position: relative;
    top: -180px;
    left: 670px;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    color: #000000;
    border: 1px solid #000000;
    background-color: #fffdfd;
    padding-top: 5px;
}

.profil9 img{
    position: relative;
    top: 10px;
    right: 340px;
    width: 20%;
    height: 12rem;
    border:1px solid #000000;
    margin-right: 20px;
}
.profil9 div p{
    position: relative;
    text-align: justify;
    top: -200px;
    left: 295px;
    font-size: 17px;
    width: 90%;
    border-radius: 10px;
    height: 80px;
    border: none;
}
.profil9 div h1{
    position: relative;
    top: -220px;
    margin-left: 20px;
}

.kotak0 div{
    position: relative;
    text-align: center;
    left: 280px;
    width: 60%;
    top: 30px;
    border-radius: 20px;
    border:1px solid #000000;

}
.kotak0 div p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.kotak0 .answer{
    position: relative;
    left: 310px;
    top: -70px;
    width: 56%;
    height: 90px;
    border-radius: 10px;
    margin-bottom: -110px;
    background-color: #5785db;
}
.kotak0 .answer input{
    position: relative;
    top: 10px;
    left: 20px;
    width: 88%;
    height: 70px;
    border-radius: 10px; 
}

.profill{
    width: 100%;
    height: 80vh;
    margin-left: 50px;
}

.profill1{
    width: 100%;
    height: 80vh;
}

.bordec{
    position: relative;
    top:120px;
    left: 400px;
}

.bordec .profi4{
    border: 1px solid #000000;
}

.tmb3{
    margin: 5px;
    width: 210px;
    border-radius: 20px;
    border: none;
    color: #fffdfd;
    height: 30px;
    margin-left: -20px;
    background-color: #000000;
}

.tmb4{
    margin: 5px;
    width: 210px;
    border-radius: 20px;
    border: none;
    height: 30px;
    color: #fffdfd;
    margin-left: 200px;
    background-color: #5785db;
}