@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background: #fffdfd;
}

.container{
    position: absolute;
    width: 100%;
    height: 635px;
    margin-top: 0px;
    background-color:  black;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.item{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    color: #fffdfd;
    background-color: rgb(253, 253, 253);
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo img{
    position: relative;
    top: 0%;
    left: 10%;
    height: auto;
    width: 80%;
    cursor: pointer;
}

.text-item img{
    position: relative;
    top: 0%;
    left: 15%;
    height: auto;
    width: 60%;
}


.social-icon a{
    position: relative;
    top: 0%;
    left: 30%;
    color: #080808;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.social-icon a:hover i{
    transform: scale(1.2);
}

.container .login-section{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: #fffdfd;
}

.login-section .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-section .form-box.register{
    transform: translateX(600px);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}

.login-section.active .form-box.register{
    transform: translateX(0px);
    transition-delay: 0.7s ;
}

.login-section .form-box.login{
    transform: translateX(0px);
    transition-delay: 0.7s;
}

.login-section.active .form-box.login{
    transform: translateX(600px);
    transition: transform .6s ease;
    transition-delay: 0.7s ;
}

.login-section .form-box h2{
    text-align: center;
    font-size: 25px;
}

.form-box .input-box{
    width: 340px;
    height: 50px;
    border-bottom: 2px solid#fffdfd;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;
    color: #fffdfd;
}

.input-box label{
    position: absolute;
    top: 70%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: 0.5s ease;
}

.input-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.remember-password{
    font-size: 14px;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-password label input{
    accent-color: #fffdfd;
    margin-right: 3px;
}

.remember-password a{
    color: #fffdfd;
    text-decoration: underline;
}

.btn {
    background: #fffdfd;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #5785db;
    font-size: 16px;
    color: #fffdfd;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.btn1 img{
    height: 20px;
    width: 20px;
}

.btn1 {
    position: relative;
    top: 0%;
    left: 15%;
    width: 60%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #b1acac;
    font-size: 16px;
    color: #fffdfd;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.4);
}

.create-account{
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}

.create-account p a{
    color: rgb(65, 65, 250);
    font-weight: 600px;
    text-decoration: none;
}

.create-account p a:hover{
    text-decoration: underline;
}


/* Homepage*/
.header .navbar-logo .logo{
    height: auto;
    width: 40%;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 2%;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar{
    position: relative;
    top: 0%;
    right: 200px;
}

.navbar a{
    position: relative;
    font-size: 16px;
    color: #fffdfd;
    margin-right: 30px;
    text-decoration: none;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fffdfd;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s ease;
}

.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}

.header .Profil{
    font-size: 30px;
}

.background{
    background-color: #fffdfd;
}

.container1{
    position: relative;
    width: 100%;
    height: 635px;
    margin-top: 0px;
}

.item1{
    position: absolute;
    top: 0px;
    left: 145px;
    width: 50%;
    height: 100%;
    color: #000000;
    background: transparent;
    padding: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.foto .gambar img{ 
    position: relative;
    top: 100px;
    left: 800px;
    height: auto;
    width: 40%;
}

.container2{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0px;
    background-color: #fffdfd;
    padding: 90px;
}


.city-list{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.city-list div{
    height: auto;
    width: 25%;
    background-color: #fffdfd;
    margin-right: 40px;
    margin-bottom: 10px;
    text-align: center;
}
.city-list div img{
    width: 100%;
    height: 180px;
    border: 2px solid #000000;
    border-radius: 30px;
}

.city-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

#services{
    color: #000000;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.sub-title-1 {
    position: relative;
    text-align: left;
    font-size: 20px;
    padding-bottom: 0px;
}

.sub-title3 {
    position: relative;
    top: -60px;
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.services-list{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.services-list div{
    background-color: #fffdfd;
    width: 280px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1px;
    border: 2px solid #000000;
    padding-top: 40px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    transition: background 0.5s, transform 0.5s;
}

#services{
    color: #000000;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.services1-list{
    position: relative;
    top: -30px;
    display: flex;
    height: auto;
    width: 75rem;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.services1-list div{
    background-color: #fffdfd;
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1px;
    border: 2px solid #000000;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    transition: background 0.5s, transform 0.5s;
}

#services2{
    color: #000000;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.services2-list{
    position: relative;
    display: flex;
    width: 75rem;
    height: auto;
    top: -30px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.services2-list div{
    background-color: #fffdfd;
    width: 350px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1px;
    border: 2px solid #000000;
    padding-top: 40px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 30px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div img{
    margin-top: -20px;
    width: 60%;
    height: 90px;
}

.services1-list div img{
    position: relative;
    top: -5px;
    left: 5px;
    height: 120px;
    width: 50%;
}

.services2-list div img{
    width: 50%;
    height: 90px;
}

.services-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services1-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services2-list div h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div:hover{
    transform: translateY(-10px);
}

.btn2 {
    position: relative;
    border-bottom: 10px;
    width: 40%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background: #5785db;
    font-size: 16px;
    color: #fffdfd;
    padding-bottom: 0px;
}

.container2 .text{
    text-align: center;
    justify-content: center;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 10px;
}

.About2{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.About2 div{
    background-color: #fffdfd;
    width: 190px;
    height: 60px;
    font-size: 1px;
    border: 2px solid #000000;
    padding-top: 9px;
    margin-left: 40px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

}

.About2 div img{
    position: relative;
    top: -5px;
    left: 5px;
    width: 30%;
    border: 2px solid #000000;
    border-radius: 60px;
    height: 50px;
}

.About2 div h2{
    font-size: 12px;
    position: relative;
    text-align: center;
    border: 2px 1px solid #000000;
    top: -50px;
    left: 25px;
}

.About2 div h1{
    font-size: 12px;
    position: relative;
    text-align: center;
    justify-content: center;
    top: -50px;
    left: 25px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

.btn3 {
    position: relative;
    top: -120px;
    left: 1080px;
    width: 140px;
    border: 1px solid #000000;
    border-radius: 20px;
    font-size: 20px;
    padding-bottom: 0px;
    cursor: pointer;
}

.btn3 i{
    font-size: 28px;
    position: relative;
    top: 5px;
}
.sub-title-1 i{
    position: relative;
    font-size: 28px;
    top: 5px;
}

/*/notifikasi/*/
.services4{
    position: relative;
    margin-top: 110px;
    height: auto;
    margin-left: 150px;
    margin-bottom: 40px;
    background-color: #fffdfd;
}

.border {
    position: relative;
    top: 0;
    width: 90%;
    border: 2px solid #000000;
    border-radius: 20px;
    padding-bottom: 20px;
}

.border .sub-title4{
    position: relative;
    top: -40px;
    text-align: center;
}

.services4-list {
    display: flex;
    flex-direction: column;
    background-color: none;
    align-items: center;
    margin-top: -30px;
  }
  
  .services4-list div {
    background-color: #fffdfd;
    width: 500px;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 11px;
}

.border1 {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fffdfd;
    border:1px solid #000000;
}

.border1 img{
    position: relative;
    top: 200px;
    left: 85px;
    width: 20%;
    height: 200px;
    border: 2px solid #000000;
}

.services5-list{
    position: relative;
    top: -120px;
    width: 835px;
    left: 420px;
}

.services5-list h1{
    text-align: center;
}

.services5-list p{
    position: relative;
    margin-top: 50px;
    text-align: justify;

}

.btn4{
    position: relative;
    top: 320px;
    margin-left: 790px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    background-color: #fffdfd;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;
}

.services6-list{
    position: relative;
    top: -150px;
    width: 835px;
    left: 470px;
}

.sub-title5 p{
    font-size: 25px;
}

.services6-list div button{
    border-radius: 20px;
    border: none;
    color: #fffdfd;
    box-shadow: 1px 1px 1px  #000000;
    width: 90px;
    height: 30px;
    background-color: #5785db;
    margin-bottom: 10px;
}

.border2{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fffdfd;
    border:1px solid #000000;
}

.border2 img{
    position: relative;
    top: 160px;
    left: 85px;
    width: 26%;
    height: 220px;
    border: 2px solid #000000;
}

.border3{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fffdfd;
    border:1px solid #000000;
}

.border3 img{
    position: relative;
    top: 100px;
    left: 120px;
    width: 23%;
    height: 210px;
    border: 2px solid #000000;
}

.sub-title5 .bb{
    margin-left: 40px;
    width: 180px;
    border: 1px solid #000000;
    background-color: #fffdfd;
    color: #000000;
}

.ketentuan{
    position: relative;
    top: 25px;
    left: -365px;
    font-size: 15px;
    border: 1px solid #000000;
}

.profil3 {
    position: relative;
    width: 100%;
    height: 100vh;
}

.borderp{
    position: relative;
    top: 135px;
    right: 4px;
    margin-left: 40px;
    width: 20rem;
    height: 28rem;
    border: 1px solid #000000;
    border-radius: 20px;
}

.profil2 img{
    border-radius: 480px;
    width: 50%;
    height: 155px;
    border: 1px solid #000000;
}

.profil2{
    display: flex;
    flex-direction: column;
    background-color: none;
    align-items: center;
    text-align: center;
}

.tmb {
    margin: 5px;
    width: 120px;
    border: none;
    color: #fffdfd;
    border-radius: 20px;
    background-color: #5785db;
}

.tmb1 {
    margin: 5px;
    width: 210px;
    border: none;
    border-radius: 20px;
    color: #fffdfd;
    background-color: #5785db;
}

.tmb2 {
    margin: 5px;
    width: 120px;
    border-radius: 20px;
    color: #fffdfd;
    border: none;
    background-color: #5785db;
}

.bordera{
    position: relative;
    top: -310px;
    left: 370px;
    margin-left: 40px;
    width: 48rem;
    height: auto;
    border: 1px solid #000000;
    border-radius: 20px;
}

.profil1{
    margin-bottom: 25px;
    text-align: center;
}

.profil1 h1{
    margin-top: 20px;
}
.profil1 input{
    position: relative;
    width: 540px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 15px;
}

.profil1 a{
    position: relative;
    left: 17rem;
    color: #000000;
}

.kotak input{
    position: relative;
    padding-left: 20px;
}

.tmb3{
    margin: 5px;
    width: 210px;
    border-radius: 20px;
    border: none;
    color: #fffdfd;
    height: 30px;
    margin-left: -20px;
    background-color: #000000;
}

.tmb4{
    margin: 5px;
    width: 210px;
    border-radius: 20px;
    border: none;
    height: 30px;
    color: #fffdfd;
    margin-left: 200px;
    background-color: #5785db;
}

.profil5{
    width: 100px;
    height: 100vh;
    background-color: #fffdfd;
}

.profila{
    width: 100px;
    height: 100vh;
    background-color: #fffdfd;
}
.borderb{
    position: relative;
    top: 120px;
    left: 480px;
    width: 24rem;
    height: auto;
    border: 1px solid #000000;
    border-radius: 20px;
}

.profil4{
    display: flex;
    flex-direction: column;
    background-color: none;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.profil4 button{
    margin: 20px;
    width: 210px;
    border-radius: 20px;
    border: none;
    color: #fffdfd;
    height: 50px;
    font-size: 20px;
    background-color: #5785db;
}


.tmb5 {
    position: relative;
    top: 420px;
    margin-left: 700px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    background-color: #fffdfd;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;

}

.card{
    height: 30%;
}

.card1{
    height: 35%;
}

.borderc{
    position: relative;
    text-align: center;
    width: 79rem;
    height: auto;
}

.borderc h1{
    position: relative;
    top: 35px;
}

.tmb6 {
    position: relative;
    top: 560px;
    left: 1150px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    color: #fffdfd;
    background-color: #000000;
    border-radius: 17px;
    border: 1px solid #000000;
    box-shadow:2px 2px 2px #000000;

}

.profil6{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content:first baseline;
}

.profil5 div{
    position: relative;
    top: 40px;
    left: 48px;
    margin-right: 182px;
}

.profil5 div p{
    width: 340px;
    padding-top: 10px;
    margin-top: -30px;
    font-size: 20px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.profil5 div button{
    position: relative;
    top: -60px;
    left: 260px;
    width: 90px;
    height: 52px;
    border: none;
    color: #fffdfd;
    border-radius: 10px;
    background-color: #5785db;
}

.borderd{
    margin-top: 80px;
    margin-left: 240px;
    border: 1px solid #000000;
    border-radius: 20px;
    width: 55rem;
    height: 25rem;
}

.borderd div img{
    position: relative;
    top: 100px;
    left: 50px;
    width: 35%;
    height: 14rem;
}

.class{
    position: relative;
    top: -110px;
    left: 25rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: none;
    align-items: center;
    text-align: center;
}

.class p{
    border-radius: none;
}

.profil7 img{
    position: relative;
    top: 70px;
    right: 420px;
    width: 30%;
    height: 18rem;
    border:1px solid #000000;
}
.profil7 div input{
    position: relative;
    top: -210px;
    left: 260px;
    width: 65%;
    border-radius: 10px;
    border:1px solid #000000;
    height: 200px;
}

.profil7 div h1{
    position: relative;
    top: -220px;
    margin-left: 370px;
}

.tmb7{
    position: relative;
    top: -70px;
    left: -560px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    color: #fffdfd;
    background-color: #5785db;
    border: none;
}

.tmb8{
    position: relative;
    top: -210px;
    right: 70px;
    width: 85px;
    height: 30px;
    color: #fffdfd;
    border: none;
    background-color: #5785db;
    border-radius: 20px;
}
.kotak1{
    position: relative;
    top: 50px;
    right: 250px;
    padding-bottom: 170px;
}
.ide {
    width: 25%;
    border:1px solid #000000;
    height: 80px;
}
.profil8 img{
    position: relative;
    top: 70px;
    right: 420px;
    width: 30%;
    height: 18rem;
    border:1px solid #000000;
}
.profil8 div input{
    position: relative;
    top: -210px;
    left: 220px;
    width: 65%;
    border-radius: 10px;
    border:1px solid #000000;
    height: 200px;
}
.profil8 div h1{
    position: relative;
    top: -220px;
    margin-left: 370px;
}
.tmb9{
    position: relative;
    top: -170px;
    right: 300px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    color: #fffdfd;
    background-color: #5785db;
    border: none;
}

.tma1{
    position: relative;
    top: -210px;
    left: 260px;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    color: #fffdfd;
    background-color: #5785db;
    border: none;
}
.tma2{
    position: relative;
    top: -80px;
    right: 630px;
    width: 90px;
    height: 30px;
    border-radius: 20px;
    color: #fffdfd;
    background-color: #5785db;
    border: none;
}
.profil8 div p{
    position: relative;
    top: -180px;
    left: 670px;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    color: #000000;
    border: 1px solid #000000;
    background-color: #fffdfd;
}

.profil9 img{
    position: relative;
    top: 0px;
    right: 340px;
    width: 20%;
    height: 12rem;
    border:1px solid #000000;
}
.profil9 div p{
    position: relative;
    text-align: justify;
    top: -210px;
    left: 295px;
    font-size: 17px;
    width: 90%;
    border-radius: 10px;
    height: 200px;
    border: none;
}
.profil9 div h1{
    position: relative;
    top: -230px;
    margin-left: 20px;
}

.kotak0 div{
    position: relative;
    text-align: center;
    left: 280px;
    width: 60%;
    top: -240px;
    border-radius: 20px;
    border:1px solid #000000;

}
.kotak0 div p{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

.kotak0 .answer{
    position: relative;
    left: 310px;
    top: -360px;
    width: 56%;
    height: 90px;
    border-radius: 10px;
    margin-bottom: -110px;
    background-color: #5785db;
}
.kotak0 .answer input{
    position: relative;
    top: 10px;
    left: 20px;
    width: 88%;
    height: 70px;
    border-radius: 10px; 
}

.profill{
    width: 100%;
    height: 100vh;
}
.bordec{
    position: relative;
    top:120px;
    left: 400px;
}

.bordec .profi4{
    border: 1px solid #000000;
}